<br /><br />
legend.text-center 
	h3 Welcome to the commitMap Dashboard!
	div(ng-show="!isUserWatchingRepos")
		.jumbotron
			h1 Your repository watch list is empty!
			p
			| In order for commitMap to work correctly, you need to add a repository to your watchlist.
			p Click the button below to add one of your repositories to your commitMap watchlist!
			p
			a.btn.btn-lg.btn-tomato(href='../../components/#navbar', role='button') Add A Repo To Watch
.col-md-6
	.panel.panel-tomato
		.panel-heading.text-center
			h5 Profile
			button.btn.btn-default.pull-right.btn-large Edit
			div.clearfix
		.panel-body
			.panel-body
				.row.center
					img.img-circle(src='{{profileData.avatar_url}}', name='aboutme', width='200', height='200')
					<br />
					<br />
					<br />
					legend.text-center {{profileData.name}}
					table.table.table-striped
						tbody
							tr
								td Username
								td {{profileData.login}}
							tr
								td Blog URL
								td {{profileData.blog}}
							//- tr
							//- 	td Bio
							//- 	td {{profileData.bio}}
							//- tr
							//- 	td Company
							//- 	td {{profileData.company}}
							//- tr
							//- 	td Email
							//- 	td {{profileData.email}}
							tr
								td Hireable
								td {{profileData.hireable}}
							tr
								td Location
								td {{profileData.location}}
							tr
								td Followers
								td {{profileData.followers}}
							tr
								td Following
								td {{profileData.following}}
							tr
								td Following
								td {{profileData.following}}

.col-md-6
	.panel.panel-tomato
		.panel-heading.text-center
			h5 Recent Activity
		.panel-body

// Main component for a primary marketing message or call to action
// /container

// Bootstrap core JavaScript
// ==================================================
