.panel-tomato{border-color:tomato;}
.panel-tomato > .panel-heading {
  color: #ffffff;
  background-color: tomato;
  border-color: tomato: ;
}
.panel-tomato > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: tomato: ;
}
.panel-tomato > .panel-heading .badge {
  color: tomato;
  background-color: #ffffff;
}
.panel-tomato > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: tomato: ;
}
.btn-tomato {
    color: #fff;
    background-color: tomato;
    border-color: tomato;
}
.center {
  text-align: center;
   float: none;
   margin-left: auto;
   margin-right: auto;
    }
